--find-links https://pypi.anaconda.org/menpo/simple
dlib==19.24.6
matplotlib>=3.9.0
matplotlib-inline==0.1.7
numpy>=1.26.0
scikit-image==0.25.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
imutils==0.5.4
opencv-python==4.11.0.86
Flask==3.0.2
gunicorn==23.0.0
